# Ignore everything
*
# But not these files...
!/.gitignore
GraalVM
Figur 13: Truffle
"på toppen" av
GraalVM.
Truffle
(runtime compilation
using
Futamura Projections)
IS-105 Seminar II Side 42 av 43
!*.go
!go.sum
!go.mod
!*.svg
!*.jpg
!README.md
!LICENSE
!Dockerfile-base
!*.c
!*.java
!*.h
!*.rs
!*.sh
!*.py
!*.cs
# !Makefile
# ...even if they are in subdirectories
!*/
